.DigitalMarket_top{
          position: relative;
          height: 90vh;
          margin:0;
          padding:0;
}
.DigitalMarket_top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.Digital1{
          width: 100%;
          height: 100%;
          object-fit: cover;
}
.DigitalMarket_top .overlay{
          position: absolute;
          display:flex;
          justify-content: center;
      align-items: center;
      flex-direction: column;
          top: 40%;
          left: 50%;
          width: 80%;
          text-align: center;
          color: white;
          /* transform: translate(-50%, -50%); */
          transform: translate(-50%, -50%);
          
}
.Digital_top-header{
  margin-top: 3rem ;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bolder;
         
}
.Digital_top_subtitle{
  color: lightblue;
  font-size: 1rem;
  font-weight:500;
  width:800px;
          
}

.dig_mar_container{
          width: 400px;
          height: 300px;         
}
.digital_ser{
      width: 90%;
      height: 90%;
      object-fit: cover;
      transition: all 0.3s ease;
}
.digital_ser:hover{
  transform: scale(1.1);
}

.dig_mar_head{
  font-size: 2.5rem;
  font-weight: bold;
  color: #333; 
  /* border-bottom: 3px solid #007bff; */
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.dig_title{
  font-size: 1.1rem;
  color: #6c757d; 
  margin-bottom: 1rem;
  line-height: 1.6;
}

.Digital_mid{    
      padding: 3rem 5rem;
      background-color: #1379b4;
}
.Digital_mid-header{
  color: #fff;
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
          margin-top: 1rem;
          text-align:left;
}
.Digital_mid-text{
  font-size: 0.9rem;
  color:#fff; 
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align:left;
}
.sco_container {
      height: 400px;
      padding: 1rem;
      border-radius: 10px;
      position: relative;
      overflow: hidden; 
      margin: 1rem;
    }
    
    .sco_container .sco_show_content {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 2rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .sco_container .sco_show_content_hover {
      background-color: #788d99;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem 2rem;
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out;
    }
      .dig_ser_icon{
            background-color: transparent;
            font-size: 2rem;
            margin: 1rem;
            transition: all 0.3s ease;
      }
      .dig_ser_icon:hover{
            font-size: 2.4rem;
      } 
    .sco_container:hover .sco_show_content {
      transform: translateY(-100%);
    }
    
    .sco_container:hover .sco_show_content_hover {
      transform: translateY(0);
    }
    
    /* Specific styles for each column */
    .sco_container_1{
      background-color: #e8e80e;
      color: white;
    }
     /* .sco_container_1 .sco_show_content_hover {
      color: orange;
      background-color: red;
    } */
    
    .sco_container_2 {
      background-color: rgb(226, 129, 32);
      color: white;
      
    }
    
    .sco_container_3  {
      background-color: blue;
      color: white;
    }
    .sco_container_4  {
      background-color: rgb(87, 87, 213);
      color: white;
    }.sco_container_5  {
      background-color: rgb(253, 83, 83);
      color: white;
    }.sco_container_6  {
      background-color: rgb(255, 128, 0);
      color: white;
    }
    

.digi_ma_se_icon{
      font-size: 2rem;
      color: black;
      transition: all 0.2s ease-in;
}
.digi_ma_se_icon:hover{
      font-size: 2.3rem;
      color: rgb(228, 223, 223);
}


/
@media (max-width: 768px) {
  
}
