.admin-layout {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.admin-main-content {
    overflow-y: auto; 
}

@media (max-width: 768px) {
    .admin-layout {
        flex-direction: column;
    }
}
